#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.article{
  display: flex;
  justify-content: space-between;
}

.article-side {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.article-main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.article-main li > div {
  flex: 1;
  padding: 0.5rem;
}

.article-stats {
  word-spacing: 0.5rem;
}

img {
  width: 20vw;;
}